<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 2: Start here... %>


<%= form_tag movies_path, method: :get, id: 'ratings_form' do %>
  Include:
  <% @all_ratings.each do |rating| %>
    <div class="form-check form-check-inline">
      <%= label_tag "ratings[#{rating}]", rating, class: 'form-check-label' %>
      <%= check_box_tag "ratings[#{rating}]", "1", @ratings_to_show_hash.include?(rating), class: 'form-check-input', id: "ratings_#{rating}" %>
    </div>
  <% end %>
  <%= submit_tag 'Refresh', id: 'ratings_submit', class: 'btn btn-primary' %>
<% end %>

<table class="table" id="movies">
  <thead>
    <tr>
      <th>
        <%= link_to 'Movie Title', movies_path(sort: 'title', ratings: @ratings_to_show_hash), id: 'title_header', class: (@sort == 'title' ? 'hilite bg-warning' : '') %>
      </th>
      <th>
        <%= link_to 'Release Date', movies_path(sort: 'release_date', ratings: @ratings_to_show_hash), id: 'release_date_header', class: (@sort == 'release_date' ? 'hilite bg-warning' : '') %>
      </th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to 'More about ' + movie.title, movie_path(movie) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
